<!-- Cuadros de Desarrollo-->
    <section id="box">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">Codepok</h1>
          <p class="lead">Test your code Online</p>
      </div>
      <div class="card-deck mb-3 text-center cards">
        <!-- Ingresar el HTML -->
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">HTML5</h4>
          </div>
          <div class="card-body">
            <textarea class="innerbox html" placeholder="Enter HTML Here" name="" id="" cols="30" rows="10"></textarea>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Save HTML</button>
          </div>
        </div>
         <!-- Ingresar el CSS -->
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Css</h4>
          </div>
          <div class="card-body">
            <textarea class="innerbox css" placeholder="Enter Css Here" name="" id="" cols="30" rows="10"></textarea>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Save Css</button>
          </div>
        </div>
         <!-- Ingresar el JS -->
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Js</h4>
          </div>
          <div class="card-body">
            <textarea class="innerbox js" placeholder="Enter Js" name="" id="" cols="30" rows="10"></textarea>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Save Js</button>
          </div>
        </div>
      </div>
    </section>
  
   <!-- Editor en tiempo real -->
    <section>
      <div class="card-deck mb-3 text-center cards">
          <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Your Project
                </h4>
              </div>
              <div class="card-body">
                <div class="preview">
                  <iframe id="live_update"  frameborder="0">
                      <!DOCTYPE html>
                      <html lang="en">
                      <head>
                        <meta charset="UTF-8">
                      </head>
                      <body>
                        
                      </body>
                      </html>
                  </iframe>
                </div>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Start again</button>
              </div>
          </div>
      </div>  
      
    </section>


